#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App form {
  display:flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.trackers {
  display:grid;
  width:600px;
  margin: 0 auto;
  grid-gap:10px;
  grid-template-columns: repeat(3, 1fr);
  color:black;
}

.trackers li {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: white;
  border-radius: 10px;
}


.trackers li button {
  position: absolute;
  font-size: 10px;
  top: 0;
  right: 0;
}

div.head-to-head-container {  
  display: flex;
  flex-direction: column;
}

div.score-container {
  display:flex;
}
